/* public/snipcart-overrides.css */

/* Basic reset to restore default Snipcart layout appearance */
.snipcart {
  font-family: Arial, sans-serif !important;
  background-color: white !important;
  color: black !important;
  z-index: 1000 !important;
}

/* Ensure inputs and labels are legible on white background */
.snipcart-input,
.snipcart-form__select {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #ccc !important;
}

.snipcart-modal__container {
  z-index: 1000 !important;
}

#snipcart h1,
#snipcart h2,
#snipcart h3,
#snipcart h4,
#snipcart h5,
#snipcart h6,
span.snipcart__font--secondary.snipcart__font--regular,
.snipcart__font--secondary
.snipcart-item-quantity__quantity
.snipcart-item-line__title,
.snipcart__font--secondary,
.snipcart__font--regular,
.snipcart__font--bold,
.snipcart__font--xlarge,
.snipcart__font--large,
.snipcart__font--std,
.snipcart__font--tiny {
  color: black !important;
  font-family: Arial, sans-serif !important;
}

#snipcart h1,
#snipcart h2,
#snipcart h3,
#snipcart h4,
#snipcart h5,
#snipcart h6,
.snipcart-item-quantity__label,
.snipcart-base-button__label,
.snipcart-cart__footer-buttons .snipcart-button-link, 
.snipcart-cart__footer-buttons .snipcart-button-primary {
    text-transform: uppercase !important;
}
/* Button overrides for clarity */
.snipcart-button,
.snipcart-button-primary,
.snipcart-button-icon,
.snipcart-base-button {
  background-color: white !important;
  color: black !important;
  font-family: Arial, sans-serif !important;
}

.snipcart-button-primary, 
.snipcart-base-button,
.snipcart-base-button__label {
    background: black !important;
}
.snipcart-base-button__label,
.snipcart-base-button__icon {
  color: white !important;
  font-family: Arial, sans-serif !important;
}

/* Remove unwanted shadows or styling artifacts */
.snipcart-item-list--no-shadow,
.snipcart-cart-summary-fees--reverse {
  box-shadow: none !important;
}

/* Restore padding/margins if needed */
.snipcart-item-line__header,
.snipcart-item-line__title {
  margin-bottom: 0.5rem;
}

.snipcart-item-line__body {
  padding-top: 0.5rem;
}

/* Improve appearance of total summary */
.snipcart-summary-fees__title,
.snipcart-summary-fees__amount {
  color: black !important;
}

/* Override background of cart modal and content */
.snipcart-layout__content,
.snipcart-cart__content,
.snipcart-cart__footer,
.snipcart-item-line,
.snipcart-item-line__container {
  background-color: white !important;
}
.snipcart-item-line__container {
    margin-bottom: 0 !important
}
.snipcart {
  font-family: Arial, sans-serif !important;
  z-index: 1000 !important;
}

.snipcart-modal,
.snipcart-cart-header,
.snipcart-item-line {
  background-color: #000 !important;
  color: #fff !important;
}
.snipcart-modal__close-icon path {
    fill: white !important;
}
.snipcart__box--badge-highlight {
    background-color: #C2FFEF;
}
.snipcart-button {
  color: #fff !important;
}

.snipcart-input,
.snipcart-form__select {
  color: #000 !important;
  border-color: #333 !important;
}
@media (min-width: 1024px) {
    .snipcart-cart__footer-col {
    margin: auto;
    }
}
@media (max-width: 1023px) {
    .snipcart-cart__footer-col {;
    margin: auto;
    }
}

.snipcart-textbox{display:flex;align-items:center;justify-items:flex-start}.snipcart-textbox--hidden{border:none;background-color:transparent;width:100%}.snipcart-textbox--hidden:focus{outline:none}.snipcart-textbox--with-icon{padding-left:8px}.snipcart-textbox--focus{outline:none;border:1px solid;border-color:#0aa7f5;border-color:var(--borderColor-input-focus,#0aa7f5);box-shadow:0 5px 10px -3px rgba(10,167,245,.3);box-shadow:var(--shadow-input-focus,0 5px 10px -3px rgba(10,167,245,.3))}.snipcart-textbox--invalid{border:1px solid;border-color:#e85a4a;border-color:var(--borderColor-input-error,#e85a4a)}.snipcart-textbox__icon{margin-right:10.66667px;color:#8f99a3;color:var(--color-inputIcon,#8f99a3)}.snipcart-modal__container{width:calc(100% + 1px);overflow-x:hidden;padding-right:1px}.snipcart-layout{height:100%;min-height:100%;display:flex;flex-direction:column}.snipcart-layout__header{height:100px;min-height:100px;max-width:1440px}@media (min-width:768px){.snipcart-layout__header{width:80%;margin:0 auto}}.snipcart-layout__header--tablet-up{width:80%;margin:0 auto}.snipcart-layout__content{height:100%;max-width:1440px}@media (min-width:768px){.snipcart-layout__content{width:80%;margin:0 auto}}.snipcart-layout__content--tablet-up{width:80%;margin:0 auto}.snipcart-layout__content--side{min-height:100%;width:100%}.snipcart-layout__footer{background-color:#f1f2f4;background-color:var(--bgColor-modal,#f1f2f4)}.snipcart-layout__cols{display:flex;align-items:flex-start;justify-content:space-around}.snipcart-layout__col{width:100%;margin:0 auto}@media (min-width:1024px){.snipcart-layout__col{width:50%;margin:0 16px}}.snipcart-layout__col--large{width:50%;margin:0 16px;width:100%}@media (min-width:1024px){.snipcart-layout__col--large{width:70%}}.snipcart-layout__col--large--large{width:70%}.snipcart-layout--large{left:0}.snipcart-layout--no-scroll{overflow:hidden}@media (min-width:1024px){.snipcart-layout--no-scroll{overflow:auto}}.snipcart-layout--no-scroll--large{overflow:auto}.snipcart-layout--not-visible{display:none}.snipcart-test-banner{position:-webkit-sticky;position:sticky;top:0;left:0;right:0;z-index:450;border-top:4px solid orange;display:flex;justify-content:center;pointer-events:none;opacity:0;transform:translateY(-4px);transition:.12s ease-out;transition-property:transform,opacity}.snipcart-test-banner__message{position:absolute;font-family:Open Sans,sans-serif;font-size:12px;font-weight:600;margin-top:-4px;background-color:orange;border-bottom-right-radius:5px;border-bottom-left-radius:5px;padding:6px 8px}.snipcart-cart--opened .snipcart-test-banner,.snipcart-sidecart--opened .snipcart-test-banner{opacity:1;transform:translateY(0)}.snipcart-layout-sidebar{padding-left:16px;padding-right:16px}@media (min-width:620px){.snipcart-layout-sidebar{padding-left:32px;padding-right:32px}}.snipcart-layout-sidebar__container{display:flex;flex-direction:column;align-items:center;width:1100px;max-width:100%;margin:0 auto}@media (min-width:960px){.snipcart-layout-sidebar__container{display:grid;align-items:start;gap:32px;grid-template-columns:40fr 60fr;grid-template-areas:"sidebar main"}}@media (min-width:1100px){.snipcart-layout-sidebar__container{gap:40px}}.snipcart-layout-sidebar__aside{width:100%;grid-area:sidebar}@media (max-width:960px){.snipcart-layout-sidebar__aside{max-width:600px}}.snipcart-layout-sidebar__main{width:100%;grid-area:main}@media (max-width:960px){.snipcart-layout-sidebar__main{max-width:600px}}.snipcart-order__payment-instructions{padding-top:16px}.snipcart-addresss-formatted{line-height:1.2}.snipcart-addresss-formatted span{display:inline}.snipcart-card-icon{position:relative;margin-right:8px;border:1.25px solid;border-color:#e3e6e8;border-color:var(--borderColor-default,#e3e6e8);border-radius:3px;width:32px;height:22.85714px}.snipcart-card-icon svg{width:100%;max-width:32px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}.snipcart__loading__screen .snipcart__icon{width:42px;height:42px;animation:spin .7s linear 0s infinite}.snipcart__loading__screen__content{height:50vh;display:flex;flex-direction:column;align-items:center;justify-content:center;opacity:0;transition:opacity .2s ease-out}.snipcart__loading__screen__content.is-visible{opacity:1}.snipcart__loading__screen__content__message{padding:32px}.snipcart-loading-overlay{position:relative}.snipcart-loading-overlay__pending{position:absolute;display:flex;width:100%;height:100%;flex-direction:column;align-items:center;justify-content:center;z-index:150}.snipcart-loading-overlay__pending .snipcart__icon{animation:spin .7s linear 0s infinite}.snipcart-loading-overlay__pending-message{padding:32px}.snipcart-loading-overlay__content{z-index:149}.snipcart-loading-overlay__content--loading{opacity:.5}.snipcart-loading-overlay__content--loading-opaque{opacity:0}.snipcart-loading-component .snipcart__icon{width:42px;height:42px;animation:spin .7s linear 0s infinite}.snipcart-loading-component__content{display:flex;flex-direction:column;align-items:center;justify-content:center}.snipcart-loading-component__content--small{height:auto}.snipcart-loading-component__content__message{padding:32px}.snipcart-flash-message{width:100%;display:flex;align-items:center;padding:16px}.snipcart-flash-message--error{background-color:#fceae8;background-color:var(--bgColor-error,#fceae8)}.snipcart-flash-message--success{background-color:#e2f5e0;background-color:var(--bgColor-success,#e2f5e0)}.snipcart-flash-message--info{background-color:#e7f6fe;background-color:var(--bgColor-info,#e7f6fe)}.snipcart-flash-message:not(:first-of-type){margin-top:8px}.snipcart-flash-message__icon{display:none;min-width:32px;height:auto;margin-bottom:auto;margin-right:16px}@media (min-width:768px){.snipcart-flash-message__icon{display:block}}.snipcart-flash-message__icon--tablet-up{display:block}.snipcart-flash-message__action{cursor:pointer;color:#1a4db3;color:var(--color-link,#1a4db3)}.snipcart-flash-message__action-container{display:flex;margin-top:16px}.snipcart-flash-message__action-container>*{margin-left:16px}.snipcart-flash-message__action-container>:first-child{margin-left:0}.snipcart-flash-message__content a{display:inline}.snipcart-flash-message__description:not(:first-child){margin-top:8px}.snipcart-tabs__toggle{display:flex;width:100%;border:1.5px solid;border-color:#e3e6e8;border-color:var(--borderColor-default,#e3e6e8);border-radius:4px;position:relative;margin-bottom:16px}.snipcart-tabs__slider{position:absolute;height:100%;background-color:#fff;background-color:var(--bgColor-default,#fff);z-index:98;width:50%;width:var(--width);transform:translateX(0);transform:translateX(var(--position));transition:.2s ease-out;transition-property:transform,border-radius}.snipcart-tabs__slider.at-start{border-top-left-radius:3px;border-bottom-left-radius:3px}.snipcart-tabs__slider.at-end{border-top-right-radius:3px;border-bottom-right-radius:3px}.snipcart-tabs__tab-button{cursor:pointer;flex:1 1 0;text-align:center;color:#8f99a3;color:var(--color-alt,#8f99a3);font-size:16px;padding:16px;padding-top:12px;padding-bottom:12px;position:relative;z-index:99}.snipcart-tabs__tab-button.is-active{color:#2e3338;color:var(--color-default,#2e3338);font-weight:600;cursor:auto}.snipcart-paginated-list .snipcart-button-primary,.snipcart-paginated-list__item{margin-bottom:16px}.snipcart-paginated-list__notice{margin-top:80px;width:100%;text-align:center}.snipcart-spinner__spinning{animation:spin 1s linear infinite;transform-origin:center}.snipcart-error-message{margin:16px 0}.snipcart-error-message__action{color:#1a4db3;color:var(--color-link,#1a4db3)}.snipcart-cart-summary-side{height:100%;overflow:hidden}.snipcart-cart-summary-side .snipcart-cart__secondary-header{padding:0 32px}.snipcart-cart-summary-side .snipcart-cart__content{overflow:hidden;flex-grow:1}.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line{padding:0;margin:0}.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line .snipcart-item-line__container{padding:32px}.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line:last-child .snipcart-item-line__container{margin:0}.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-discount-box{width:100%;margin-bottom:0}.snipcart-cart-summary-side .snipcart-cart__footer{padding:32px 32px 0 32px}.snipcart-cart-summary-side .snipcart-cart__footer .snipcart__actions--link{margin-top:8px;text-align:center}@keyframes slideIn{0%{transform:translateX(110%)}to{transform:translateX(0)}}@keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes slideDown{0%{height:0}to{height:100vh}}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes popUp{0%{opacity:0;transform:scale(.35)}to{opacity:1;transform:scale(1)}}.snipcart-transition--slide-in-enter-active{animation:slideIn .5s}.snipcart-transition--slide-in-leave-active{animation:slideIn .3s reverse}.snipcart-transition--popup-enter-active{animation:popUp .2s}.snipcart-transition--popup-leave-active{animation:popUp .2s reverse}.snipcart-cart--opened{overflow:hidden}.snipcart-sidecart--opened::-webkit-scrollbar{width:0}