
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

.font-arial {
  font-family: Arial, sans-serif;
}

.font-arial-bold {
  font-family: Arial, sans-serif;
  font-weight: 900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Anton, Helvetica, sans-serif;
}

.carousel-fade {
  transition: opacity 0.4s;
  opacity: 1;
}
.carousel-fade.fade-out {
  opacity: 0;
}

@layer utilities {
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

